# Clé API principale pour le mode Architecte / Éditeur
OPENROUTER_API_KEY="sk-or-v1-ta-cle-api-ici"

# Configuration des modèles par défaut modifiable 
AIDER_MODEL=openrouter/poolside/laguna-m.1
AIDER_EDITOR_MODEL=openrouter/poolside/laguna-xs.2:free
